<!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->

<div class="container-fluid">
  <div class="row">
    <!-- <div class="card text-center" *ngIf="">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div> -->

    <div class="col-md-4 mt-3" *ngFor="let post of All_Posts">


      <div class="card profile-card-5 ms-4 mt-3">

        <div class="card-img-block">
          <img [src]="getimageurl(post['image'])" class="img-fluid img_1 rounded-start" alt="...">
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title"> <span class="text_2">Title : </span>
            {{post['title']}}</h5>


          <button type="button" class="btn btn-warning ms-2">
            <a  role="btn" [routerLink]="['/home/post',post['_id']]">
              View<i class="bi bi-eye-fill ms-2" style="font-size: 1rem; color: rgb(35, 109, 246);">
              </i>
            </a>
          </button>

        </div>
      </div>

    </div>
  </div>
</div>