<!-- <p>post works!</p> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <img [src]="getimageurl(Post_data?.image)" class="img-fluid image_1">
        </div>

        <div class="col-md-4">

            <div class="row">
                <h1>Price:{{Post_data?.price | currency :'INR'}}</h1>
            </div>

            <div class="row" *ngIf="isUserLoggedin">
                <h1>{{Post_data?.['userId'].phone}}</h1>
            </div>

            <div class="row" *ngIf="!isUserLoggedin">
                <div class="col-md">
                    <a class="btn btn-success">Login</a>
                </div>
            </div>

        </div>

    </div>
</div>