<nav class="navbar navbar-expand-lg bg-body-tertiary bg_1">
    <div class="container-fluid ">
        <img src="../../../assets/pngaaa.com-4497614.png" class="img_1">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-outline-secondary ms-3" routerLink="/home/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-warning ms-3"  routerLink="/user/myads" >My Ads</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-warning ms-3" routerLink="/user/postads">Post Ad</a>
                </li>


            </ul>
        </div>

        <a class="btn btn-primary" (click)="logout()">Logout</a>

    </div>
</nav>